body{
	margin:0px; /* removes the margin around the webpage */
}

/********************************************************************************/
/* Controls the Nav */

#nav_section{
	background-color:#383E4C; /* colors the background of the nav section */
	padding:25px; /* adds padding inside the nav section around the buttons */
	position:fixed; /* makes the nav scroll down w/ the page */
	position-top:100%; /* positions the nav_section at the very top of the page */
	width:1903px; /* default width of the page */
	z-index:1; /* brings the selected element to front above all other elements */
}

/* Controls the links in the Nav section */
a.nav_links:link, a.nav_links:visited, a.nav_links:active {
	background-color:#383E4C;
	border:1px solid #646d7c;
	color:#fff;
	font-size:16px;
	margin:5px; /* controls the spacing outside the borders of each button */ /* pushes the buttons apart from each other */
	padding:15px 25px;
	text-align:center;
	text-decoration:none; /* removes the link underlines */
}
a.nav_links:hover {
	background-color:#49505F; 
}

/********************************************************************************/
/* Section 1: Homepage */

#section1{
	background-color:red;
	padding:100px;
}

/*******************************************************************************/
/* Section 2: About Us - Part 1 */

#section2{
	/* background-color:yellow; /* shows you the size of the section */
}

.about_us_container_1{
	/* background-color:green; /* shows you the size of the container */
	padding-top:70px; /* adds space between the first container and section 1 */
	width:1170px;
}

.about_us_row_1{
	/* background-color:blue; */ /* shows you the size of the row */
	display:table;
}

/* controls the columns */
.about_us_columns_1{
	/* background-color:red; */ /* shows you the size of the column */
	box-sizing:border-box;
	float:left;
	padding-right:15px; /* aligns the column picture w/ the background color */ /* for consistency, the padding around every column is the same */
	padding-left:15px;
	width:33.33%; /* organizes the columns into 3 columns inside the row */
}

.about_us_content_1{
	background-color:#F2F2F2;
	padding-bottom:40px;
	text-align:center; /* aligns the column heading and link to the center */
}

.about_us_img{
	max-width:100%;
}

.about_us_content_text{
	margin-top:15px; /* adds spacing between the column text and the column heading */
	padding:0px 20px 35px; /* adds space between the text and the column */
	text-align:left; /* aligns the column text to the left */
}

/*******************************************************************************/
/* Section 2: About Us - Part 2 */

#about_us_section_2{
	margin-top:70px; /* adds space between the second part of section 2 and the first */
	margin-bottom:70px; /* for consistency, the margins between around every section is the same */
}

.about_us_container_2{
	/* background-color:green; */ /* shows you the size of the container */
	width:1170px;
}

.about_us_row_2{
	/* background-color:blue; */ /* shows you the size of the row */
	display:table;
}

/* controls the columns */
.about_us_columns_2{
	/* background-color:red; */ /* shows you the size of the column */
	box-sizing:border-box;
	float:left;
	padding-right:15px; /* aligns the column picture w/ the background */
	padding-left:15px;
	width:50%;
}

.about_us_content_2{
	background-color:#F2F2F2;
	padding-bottom:40px;
	text-align:center; /* aligns the column heading and link to the center */
}

.about_us_img{
	max-width:100%;
}

.about_us_content_text{
	margin-top:15px; /* adds spacing between the column text and the column heading */
	padding:0px 20px 35px; /* adds space between the text and the column */
	text-align:left; /* aligns the column text to the left */
}

/*******************************************************************************/
/* controls the links in the About Us */

/* Button Green Link */
a.btn_green_link:link, a.btn_green_link:visited, a.btn_green_link:active {
	background-color:#10601B;
	border-radius:5px; /* rounds the edges of the box around the link's content */
	color:#fff;
	font-size:18px;
	margin:20px; /* helps center the button */
	padding-top:10px; /* increases the padding around the link's content */
	padding-right:35px;
	padding-bottom:10px;
	padding-left:35px;
	text-decoration:none;
}
a.btn_green_link:hover {
	background-color:#178A27;
}

/* 'See Details' Link */
a.see_details_link:link, a.see_details_link:visited, a.see_details_link:active {
	background-color:#0F5D87;
	border-radius:5px;
	color:#fff;
	font-size:18px;
	margin:20px; /* helps center the button */
	padding-top:10px; /* increases the padding around the link's content */
	padding-right:35px;
	padding-bottom:10px;
	padding-left:35px;
	text-decoration:none;
}
a.see_details_link:hover {
	background-color:#1686C1;
}

/* Button Red Link */
a.btn_red_link:link, a.btn_red_link:visited, a.btn_red_link:active {
	background-color:#5D1904;
	border-radius:5px;
	color:#fff;
	font-size:18px;
	margin:20px; /* helps center the button */
	padding-top:10px; /* increases the padding around the link's content */
	padding-right:35px;
	padding-bottom:10px;
	padding-left:35px;
	text-decoration:none;
}
a.btn_red_link:hover {
	background-color:#852406;
}

/* Read More Link */
a#about_us_read_more_link:link, a#about_us_read_more_link:visited, a#about_us_read_more_link:active {
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:5px;
	color:#666;
	font-size:18px;
	margin:20px 0px 0px 90px; /* helps center the button */
	padding-top:10px; /* increases the padding around the link's content */
	padding-right:30px;
	padding-bottom:10px;
	padding-left:30px;
	text-decoration:none;
}

a#about_us_read_more_link:hover {
	background-color:#E6E6E6;
}

/*******************************************************************************/
/* Section 3: Services - Part 2 */

#section3{
	/* background-color:orange; /* shows you the size of the section */
}

.services_section_1{
	background-color:blue; */ /* shows you the size of the first section OF the services section */
}

.services_container_1{
	background-color:red; /* shows you the size of the container */
	padding-top:70px; /* adds space between the 'first container of section 3' and section 2 */
	width:1170px;
}

.services_row_1{
	/* background-color:green; */ /* shows you the size of the row */
	display:table;
}

.services_columns_1{
	background-color:yellow;
	box-sizing:border-box;
}

.services_content_1{
	text-align:center;
}

/*******************************************************************************/

#services_section_2{
	background-color:yellow;
	margin-top:60px;
	margin-bottom:60px;
}

/*

.services_container_2{
	background-color:red;
	padding-top:70px;
	width:1170px;
}

.services_row_2{
	background-color:green;
	display:table;
}

.services_columns_2{
	 background-color:red;
	box-sizing:border-box;
	float:left;
	padding-right:15px;
	padding-left:15px;
	width:33.33%;
}

.services_content_2{
	background-color:green;
	padding-bottom:40px;
	text-align:center;
}

.services_img{
	max-width:100%;
}

.services_content_text{
	margin-top:15px;
	text-align:left;
}

*/

/*******************************************************************************/
/* section 4: Contact */

#section4{
	background-color:green;
	padding:100px;
}

/*******************************************************************************/
/* footer area */

#footer {
	background-color:orange;
	text-align:center;
}

#horizontal{
	margin-top:20px;
	margin-bottom:20px;
	border-top:1px solid #eee;
}

#copy{
	color:#666;
	font-size:12px;
}

/******************************************************************************/
